<div id="site_search">
  <div>
    <input type="text" id="local-search-input" autocomplete="off" name="q" results="0" placeholder="Keyword Search..." class="st-search-input form-control"/>
  </div>
</div><br>
<div style="text-align:center;">
  <button style="font-size: 120%;">
    <b>
      <a href="<%- url_for('articles/') %>">Articles</a>
    </button>
    <button style="font-size: 120%;">
      <a href="<%- url_for('keywords/') %>">Keywords</a> 
    </button>
    <button style="font-size: 120%;">
      <a href="https://www.podbean.com/lsw/naturalscholar" target="_blank">Podcast</a>
    </b>    
  </button>
</div><br>
<div style="font-size: 12pt;" id="local-search-result"></div>