<span style="font-weight: bold;">&copy; <%= new Date().getFullYear() %> <%= config.title %></span>
<br>
admin@naturalscholar.com
<br>
<a href="https://t.me/naturalscholar" target="_blank">Join us on Telegram!</a>
